<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>Users</key>
		<array>
			<dict>
				<key>twitterHandle</key>
				<string>William Patty</string>
				<key>pois</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>twitterHandle</key>
				<string>Andrew Stahlman</string>
				<key>pois</key>
				<array>
					<string>2</string>
				</array>
			</dict>
		</array>
		<key>POIs</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>POI #1</string>
				<key>details</key>
				<string>Wow, you need to check this place out! #awesome</string>
				<key>latitude</key>
				<real>34.677035</real>
				<key>longitude</key>
				<real>-86.452324</real>
				<key>photo</key>
				<string>null</string>
				<key>rating</key>
				<integer>10</integer>
				<key>creator</key>
				<string>William Patty</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>POI #2</string>
				<key>details</key>
				<string>Please check this place out! #hashtag</string>
				<key>latitude</key>
				<real>34.675</real>
				<key>longitude</key>
				<real>-86.452</real>
				<key>photo</key>
				<string>null</string>
				<key>public</key>
				<true/>
				<key>rating</key>
				<integer>15</integer>
				<key>creator</key>
				<string>Andrew Stahlman</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
